@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body .book .book-summary,
body .book .book-body {
  font-family: "Noto Sans TC", "Roboto", sans-serif;
}
body .book .book-summary {
  font-weight: 500;
}
body .book .book-summary ul.summary li > a {
  white-space: normal;
}
.book .book-body .markdown-section pre > code {
  font-size: 12px;
}
.book-summary ul.summary li ul li {
  display: block !important;
}
.page-inner {
  max-width: 1000px;
}
